<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
          <a class="navbar-brand" style="padding: 5px;" href="https://www.hogent.be/">
<img style="height: 100%" src="../../assets/img/HoGent_Logo.png">
</a>
          <a class="navbar-brand" href="#">Portfolio Daniel Defta</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul *ngIf="language==='NL'" class="nav navbar-nav navbar-right">
              <li routerLinkActive='active'><a routerLink="/home">Home</a></li>
              <li routerLinkActive='active'><a routerLink="/cv">CV</a></li>
              <li routerLinkActive='active'><a routerLink="/over-mij">Over mij</a></li>
              <li routerLinkActive='active'><a routerLink="/hobbys">Hobby's</a></li>
              <li routerLinkActive='active'><a routerLink="/portfolio">Portofolio</a></li>
              <li routerLinkActive='active'><a routerLink="/italent">iTalent</a></li>
              <li routerLinkActive='active'><a routerLink="/links">Links</a></li>
              <li routerLinkActive='active'><a routerLink="/contact">Contact</a></li>
              <li class="{{language==='NL'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('NL')">NL</a></li>
              <li class="{{language==='EN'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('EN')">EN</a></li>
              <li class="{{language==='FR'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('FR')">FR</a></li>
          </ul>

          <ul *ngIf="language==='EN'" class="nav navbar-nav navbar-right">
              <li routerLinkActive='active'><a routerLink="/home">Home</a></li>
              <li routerLinkActive='active'><a routerLink="/cv">CV</a></li>
              <li routerLinkActive='active'><a routerLink="/over-mij">About me</a></li>
              <li routerLinkActive='active'><a routerLink="/hobbys">Hobby's</a></li>
              <li routerLinkActive='active'><a routerLink="/portfolio">Portofolio</a></li>
              <li routerLinkActive='active'><a routerLink="/italent">iTalent</a></li>
              <li routerLinkActive='active'><a routerLink="/links">Links</a></li>
              <li routerLinkActive='active'><a routerLink="/contact">Contact</a></li>
              <li class="{{language==='NL'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('NL')">NL</a></li>
              <li class="{{language==='EN'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('EN')">EN</a></li>
              <li class="{{language==='FR'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('FR')">FR</a></li>
          </ul>

          <ul *ngIf="language==='FR'" class="nav navbar-nav navbar-right">
              <li routerLinkActive='active'><a routerLink="/home">Accueil</a></li>
              <li routerLinkActive='active'><a routerLink="/cv">CV</a></li>
              <li routerLinkActive='active'><a routerLink="/over-mij">À propos de moi</a></li>
              <li routerLinkActive='active'><a routerLink="/hobbys">Hobby's</a></li>
              <li routerLinkActive='active'><a routerLink="/portfolio">Portofolio</a></li>
              <li routerLinkActive='active'><a routerLink="/italent">iTalent</a></li>
              <li routerLinkActive='active'><a routerLink="/links">Links</a></li>
              <li routerLinkActive='active'><a routerLink="/contact">Contact</a></li>
              <li class="{{language==='NL'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('NL')">NL</a></li>
              <li class="{{language==='EN'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('EN')">EN</a></li>
              <li class="{{language==='FR'?'active':''}}"><a style="cursor: pointer;" (click)="changeLanguage('FR')">FR</a></li>
          </ul>
      </div>
    
  </div>
</nav> -->

<div class="ui page grid">
    <div class="computer only row">
        <div class="ui fixed menu navbar grid">
            <div class="item">
                <a href="https://www.hogent.be">
                    <img style="height: 40px" src="../../assets/img/HoGent_Logo.png">
                </a>
            </div>
            <div class="header item">Portfolio Daniel Defta</div>

            <div class="right menu">
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/home">Home</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/cv">CV</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/over-mij">Over mij</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/hobbys">Hobby's</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/portfolio">Portofolio</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/italent">iTalent</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/links">Links</a>
                <a *ngIf="language==='NL'" class="item" routerLinkActive='active' routerLink="/contact">Contact</a>

                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/home">Home</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/cv">CV</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/over-mij">About me</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/hobbys">Hobby's</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/portfolio">Portofolio</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/italent">iTalent</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/links">Links</a>
                <a *ngIf="language==='EN'" class="item" routerLinkActive='active' routerLink="/contact">Contact</a>

                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/home">Accueil</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/cv">CV</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/over-mij">A propos de moi</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/hobbys">Hobby's</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/portfolio">Portofolio</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/italent">iTalent</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/links">Links</a>
                <a *ngIf="language==='FR'" class="item" routerLinkActive='active' routerLink="/contact">Contact</a>


                <div class="ui teal buttons item">
                    <div class="ui button">{{language}}
                    </div>

                    <div class="ui floating dropdown icon button">
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" (click)="changeLanguage('NL')">NL</div>
                            <div class="item" (click)="changeLanguage('EN')">EN</div>
                            <div class="item" (click)="changeLanguage('FR')">FR</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mobile tablet only row" style="margin-right: 15px;
    margin-left: 15px;">
        <div class="ui fixed navbar menu grid">
            <div class="item">
                <a href="https://www.hogent.be">
                    <img style="height: 40px" src="../../assets/img/HoGent_Logo.png">
                </a>
            </div>
            <div class="header item">Portfolio Daniel Defta</div>


            <div class="ui teal buttons item right">

                <div class="ui floating dropdown item">
                    <i class="reorder icon"></i>
                    <div class="ui vertical center aligned menu" style="display: none;
                        border: 0px;
                        left: 100% !important;
                        margin-left: calc(-100vw + 23px) !important;
                        width: 100vw !important;
                        border-radius: 0px !important;
                        border-bottom-left-radius: 5px!important;
                        border-bottom-right-radius: 5px!important;
                        border-top: 1px;
                        padding-top:10px!important;
                        margin-top: 15.01px!important;">

                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/home">Home</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/cv">CV</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/over-mij">Over mij</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/hobbys">Hobby's</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/portfolio">Portofolio</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/italent">iTalent</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/links">Links</a>
                        <a *ngIf="language==='NL'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/contact">Contact</a>

                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/home">Home</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/cv">CV</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/over-mij">About me</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/hobbys">Hobby's</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/portfolio">Portofolio</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/italent">iTalent</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/links">Links</a>
                        <a *ngIf="language==='EN'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/contact">Contact</a>

                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/home">Accueil</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/cv">CV</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/over-mij">A propos de moi</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/hobbys">Hobby's</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/portfolio">Portofolio</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/italent">iTalent</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/links">Links</a>
                        <a *ngIf="language==='FR'" style="text-align: center" class="item" routerLinkActive='active' routerLink="/contact">Contact</a>
                        <div class="ui grid" style="margin-top: 5px;">
                            <div class="ui five column row">
                                <div class="column"></div>
                                <div class="column">
                                    <div class="item" style="text-align: center" (click)="changeLanguage('NL')">NL</div>
                                </div>
                                <div class="column">
                                    <div class="item" style="text-align: center" (click)="changeLanguage('EN')">EN</div>
                                </div>
                                <div class="column">
                                    <div class="item" style="text-align: center" (click)="changeLanguage('FR')">FR</div>
                                </div>
                                <div class="column"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>